*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;

}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #040111;
    font-size: 1.1rem;
    color: white;
    text-align: center;
    scroll-behavior: smooth;
}

a{
    display: inline-block;
    text-decoration: none;
    color: rgb(26, 18, 18);
}



section{
    height: max-content;
    width: 100%;
    display: flex;
    padding: 3rem 5rem;

}


.nav-toggles .active{
    background-color: rgb(12, 133, 240);
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all .4s ease-in-out;
}

.active i{
    color: rgb(232, 231, 241) !important;
}

.controlls{
    position: fixed;
    z-index: 10;
    top: 35%;
    right: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateY(-50%);
}

.nav-toggles{
    padding: 1rem;
    width: 55px;
    height: 55px;
    cursor: pointer;
    background-color: rgb(8, 8, 8);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0;
    box-shadow: 0 3px 15px rgb(61, 59, 59);
}

.nav-toggles:hover{
    background-color: rgb(51, 51, 47);
}

.nav-toggles i{
    font-size: 1.2rem;
    color: rgb(196, 183, 183);
    pointer-events: none;
}

.home{
    
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}

.home-image{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.my-img{
    
    object-fit: cover;
    width: 90%;
    height: 90%;
    border-radius: 50%;
}
.image:hover{
    box-shadow: 10px 10px 35px rgb(8, 201, 66);

}
.my-img:hover{
    box-shadow: 0 10px 45px rgb(12, 133, 240);

}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px o;
}

.home-content h4{
    font-size: 40px;
    font-weight: 700;
}

.home-content a{
    align-self: center;
}

.home-content h4:nth-of-type(2){
    margin-top: 10px;
    margin-bottom: 20px;
}

.home-content h4 span{
    color: rgb(25, 216, 66);
}
.home-content p{
    font-size: 20px;
    font-family: 'Playfair Display', serif;  
}

.home-sci{
    display: flex;
    align-self: flex-start;
    padding-left: 2rem;
}


.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background: transparent;
    border: 2px solid rgb(73, 22, 212);
    border-radius: 50%;
    font-size: 30px;
    text-decoration: none;
    margin: 30px 15px 30px 0;
}

.home-sci a:hover{
    background: rgb(52, 40, 219);
}

.main-btn{
    border-radius: 30px;
    color: aquamarine;
    display: flex;
    width: 180px;
    margin-left: 2rem;
    align-self: flex-start;
    align-items: center;
    overflow: hidden;
    position: relative;
    font-weight: 700;
    border: 1px solid green;

}
.btn-text{
    padding: .3rem 2rem;
}

.btn-text:hover{
    width: 100%;
    height: 100%;
    background-color: green;
    transition: all .4s ease-in-out;
}

/* ABOUT SECTION */

.about-home{
    width: 100%;
    display: grid; 
    padding: 0 5rem;
}

.about-tittle{
    text-align: center;
    width: 100%;
}
.about-tittle h2{
    position: relative;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 700;
}

.about-tittle span{
    color: green;
}

.cont-tittle{
    text-align: center;
    width: 100%;
    h2{
        position: relative;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 700;
    }
    span{
        color: green;
    }
}



.main-about{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-top: 3.5rem;
    padding-bottom: 5rem;
}
.right-about{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
}

.about-item{
    border: 1px solid rgb(54, 49, 49);
    border-radius: 5px;
    transition: all .4s ease-in-out;
    box-shadow: 0 3px 15px rgb(61, 59, 59);
}

.about-item:hover{
    cursor: default;
    transform: translateY(-5px);
}

.abt-text{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}

.large-text{
    font-size: 1.3rem;
    padding-bottom: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    color: green;
}

.small-text{
    padding-left: 3rem;
    position: relative;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 2px;
    color: white;
}

.left-about{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;

}

.left-about p{
    line-height: 2rem;
    font-size: 1.5rem;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    text-align: left;
    color: white;
}

.left-about h4{
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;

}
.left-about a{
    align-self: center;
}

.right-about h4{
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    text-align: center;
}

.service-pic{
    width: 100%;
    height: 14rem;
    align-self: center;
    
}

.services-img{
    width: 100%;
    height: 14rem;
    align-self: center;
    border-radius: 5%;
    object-fit: fill;
}

.about-stats h4{
    font-size: 1.5rem;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    text-transform: uppercase;
}
.skills-bars{
    display: grid;
    grid-template-columns:repeat(2, 1fr) ;
    grid-gap: 2rem;
}

.pprogress-bars{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.pprogress-bar{
    display: flex;
    flex-direction: column;
}
.progs-tittle{
    text-transform: uppercase;
    font-weight: 500;
}

.progress-con{
    display: flex;
    align-items: center;
}
.progress{
    width: 100%;
    height: .5rem;
    background-color: rgb(61, 59, 59);
    margin-left: 1rem;
    position: relative;
}

.HTML{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transition: all .4s ease-in-out;
    background-color: green;
    width: 80%;
}
.css{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transition: all .4s ease-in-out;
    background-color: green;
    width: 75%;
}
.javascript{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transition: all .4s ease-in-out;
    background-color: green;
    width: 60%;                             
}
.react{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transition: all .4s ease-in-out;
    background-color: green;
    width: 50%;
}
.flutter{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transition: all .4s ease-in-out;
    background-color: green;
    width: 50%;
}
.figma{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transition: all .4s ease-in-out;
    background-color: green;
    width: 60%;
}

/* PORTFOLIO SECTION */

.portfolio-home{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 5rem;
}

.Port-tittle{
    text-align: center;
    width: 100%;
}

.Port-tittle h2{
    position: relative;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 700;
}
.Port-tittle span{
    color: green;

}

.Port-tittle p{
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    text-align: center;
}

.portfolios{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2rem;
    margin-top: 1.5rem;
}
.port-items{
    position: relative;
    
}

.port-items img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
}
.hover-items{
    width: 100%;
    height: 100%;
    background-color: rgb(110, 226, 110);
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transform: scale(0);
    transition: all .4s ease-in-out;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3{
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }
    
}

.port-items:hover .hover-items{
    opacity: 1;
    transform: scale(1);
}


.port-icons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.port-icons i{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #040111;
    border-radius: 50%;
    margin: 0 1rem;
    font-size: 2rem;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.port-icons i:hover{
    background-color: wheat;
}

/* CONTACT SECTION */

.contact-home{
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    align-items: center;
}

.contact-content-con{
    display: flex;
    width: 100%;
    padding: 0 3rem;
    justify-content: space-evenly;
}
.right-content{
    flex: 2;
    h4{
        margin-top: 1rem;
        font-family: 'Playfair Display', serif;
        font-size: 2rem;
        text-transform: uppercase;
    }
    p{
        margin: .5em 0;
        font-family: 'Playfair Display', serif;
        line-height: 2rem;
    }
}

.contact-info{
    .contact-item{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.left-content{
    flex: 3;
    padding: 10px;
    margin-left: 3rem;
    border: 1px dotted red;
    h2{
        font-weight: 700;
        color: red;
    }
    .submit-btn{
        display: flex;
        justify-content: center;
    }
}

.input-control{
    margin: 1.5rem ;
    input,textarea{
        border-radius: 30px;
        font-weight: inherit;
        font-size: inherit;
        font-family: inherit;
        padding: 0.8rem 1.1rem;
        outline: none;
        border: none;
        width: 100%;
        resize: none;
        background-color: rgb(39, 33, 33);
        color: white;
    }
}

.i-2{
    display: flex;
    :last-child{
        margin-left: 1.5rem;
    }
}
.footer{
    width: 100%;
    padding-bottom: 3rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer h2{
    font-family: 'Playfair Display', serif;

}

.footer a{
    color: rgb(110, 226, 110);
    cursor: pointer;
    text-decoration: none;
}
.footer-socials a{
    font-size: 3rem;
    padding-top: 1rem;
}

.footer-socials a:hover{
    transform: translateY(8px);
}


/* /MEDIA QUERIES */

@media  (max-width: 540px){
    body{
        background-color: #0a0530;
    }
    
   
    .controlls{
        top: auto;
        bottom: -2%;
        flex-direction: row;
        justify-content: space-evenly;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
    }
    section{
        padding: .5rem !important;
    }
    .home{
        grid-template-columns: repeat(1,1fr);
        padding-bottom: 5rem;
        
    }
    .home-content h4 span{
        display: none;
    }
    .home-image{
        grid-row: 1;
        padding-bottom: 2rem;
    }
    .image{
        width: 100%;
        height: 100%;
    }
    .my-img{
        border-radius: 50%;
    }
     

    .home-content{
        align-items: center;
    }

    .home-content h1{
        font-size: 2rem;
    }

    .home-content p{
        font-size: 1.5rem;
        padding: 0 1rem;
        text-wrap: balance;
        line-height: 2rem;
    }

   .about-home{
    padding: 0;
   }

    .about-tittle h2{
        font-size: 2.5rem;
    }

    .bg-text{
        font-size: 1.5rem;
    }

    .main-about{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding-top: 1rem;
        padding-bottom: 4rem;
    }

    .right-about{
        display: grid;
        padding-top: 1rem;
        grid-template-columns: repeat(1,1fr);
    }

    .about-item{
        margin-bottom: 2rem;
    }

    .left-about{
        padding-top: 2rem;
    }
    .left-about p{
        font-size: 1.5rem;
        padding: 0 1rem;
        text-wrap: stable;
        line-height: 2rem;
    }

    .left-about a{
        display: none;
    }

    .about-stats h4{
        text-align: center;
    }

    .portfolio-home{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 0;
    }


    .Port-tittle h2{
        font-size: 2.5rem;

    }

    .Port-tittle p{
        font-family: 'Playfair Display', serif;
        font-size: 2rem;
        text-align: center;
    }

    .portfolios{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding: 0;
    }

    .contact-home{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding: 0;
    }
    
    .ontact-home h2{
        font-size: 2.5rem;

    }

    .contact-content-con{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding: 2rem;
    }

    .cont-tittle h2{
        font-size: 2.5rem;

    }

    .right-content p{
        font-size: 1.2rem;
        text-wrap: pretty;
        line-height: 2rem;
    }

        

    .left-content{
        padding: 0;
        margin: 0;
        padding-bottom: 1rem;
    }
    .i-2{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        :last-child{
            margin-top: 1.5rem;
            margin-left: 0;
        }

    }  

    .footer-socials a{
        font-size: 3rem;
    }
}

@media (max-width:1020px) {
    body{
        background-color: #090422;
    }
    .controlls{
        top: auto;
        bottom: -2%;
        flex-direction: row;
        justify-content: space-evenly;
        left: 50%;
        transform: translateX(-50%);
        width: 70%;
    }
    section{
        padding: 2rem 2rem;
    }

    /* P{
        font: 2em sans-serif !important;
    } */
    .home{
        grid-template-columns: repeat(1,1fr);
        padding-bottom: 5rem;
        
    }
    
    .home-image{
        grid-row: 1;
        padding-bottom: 2rem;
    }
    .image{
        width: 100%;
        height: 100%;
    }
    .my-img{
        border-radius: 50%;
    }
     

    .home-content{
        align-items: center;
    }

    .home-content h1{
        font-size: 2rem;
    }

    .home-content p{
        font-size: 1.5rem;
        padding: 0 1rem;
        text-wrap: stable;
        line-height: 2rem;
    }

   .about-home{
    padding: 1rem 0;
   }

    .about-tittle h2{
        font-size: 2.5rem;
    }

    .bg-text{
        font-size: 1.5rem;
    }

    .main-about{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding-top: 1rem;
        padding-bottom: 4rem;
    }

    .right-about{
        display: grid;
        padding-top: 1rem;
        grid-template-columns: repeat(1,1fr);
    }

    .about-item{
        margin-bottom: 2rem;
    }

    .left-about{
        padding-top: 2rem;
    }
    .left-about p{
        font-size: 1.5rem;
        padding: 0 1rem;
        text-wrap: stable;
        line-height: 2rem;
    }

    .left-about a{
        display: none;
    }

    .about-stats h4{
        text-align: center;
    }

    .portfolio-home{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding: 0;
    }

    .Port-tittle h2{
        font-size: 2.5rem;

    }

    .portfolios{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding: 0;
    }

    .contact-home{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding: 0;
    }
    
    .ontact-home h2{
        font-size: 2.5rem;

    }

    .contact-content-con{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding: 0;
    }

    .cont-tittle h2{
        font-size: 2.5rem;

    }

    .right-content p{
        font-size: 1.2rem;
        text-wrap: pretty;
        line-height: 2rem;
    }

        

    .left-content{
        padding: 0;
        margin: 0;
        padding-bottom: 2rem;
    }
    .i-2{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        :last-child{
            margin-top: 1.5rem;
            margin-left: 0;
        }

    }
}